.about-container {
  position: relative;
  /* background-color: #888; */
}

.about-me {
  height: 100vh;
}

.about-me img {
  position: absolute;
  bottom: -10%;
  width: 700px;
  height: auto;
}

.about-me h1 {
  display: none;
}

.about-me p {
  width: 40%;
  margin-left: 50%;
  line-height: 35px;
  padding-top: 5%;
  font-weight: 500;
  font-family: "Raleway";
  letter-spacing: 1px;
}

/* Media queries */

@media (max-width: 599px) {
  .about-me img {
    display: none;
  }

  .about-me h1 {
    display: block;
    margin-top: 0;
    text-align: center;
    padding-top: 10px;
  }

  .about-me p {
    font-family: "Raleway";
    width: 90%;
    font-size: 12px;
    line-height: 35px;
    margin: auto;
    padding-top: 20px;
  }
}

@media (min-width: 577px) and (max-width: 911px) {
  .about-me img {
    display: none;
  }
  .about-me h1 {
    display: block;

    text-align: center;
    padding-top: 10px;
  }
  .about-me p {
    font-family: "Raleway";
    width: 90%;
    font-size: 14px;
    line-height: 35px;
    margin: auto;
    padding-top: 20px;
  }
}

@media (min-width: 912px) and (max-width: 1200px) {
  .about-me img {
    display: none;
  }
  .about-me h1 {
    display: block;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
  }
  .about-me p {
    font-size: 14px;
    line-height: 40px;
    margin: auto;
    padding-top: 10px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .about-me img {
    display: none;
  }
  .about-me p {
    width: 90%;
    font-size: 14px;
    line-height: 40px;
    margin: auto;
    padding-top: 40px;
    text-align: left;
  }
}
