.hero {
  background-color: #080808;
  height: 100vh;
}

.navigation {
  background-color: #1b1b1b;
  width: 1110px;
  margin: auto;
  height: 70px;
  display: flex;
  gap: 70px;
  justify-content: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.navigation a {
  text-decoration: none;
  font-family: "IBM Plex Mono", "San-Seriff";
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;
  align-self: center;
}

.navigation img {
  width: 107.54px;
  height: 17px;
  align-self: center;
}

.hero-flex-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-item h1 {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 44px;
}

.hero-item p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #9c9c9c;
  line-height: 24px;
  letter-spacing: 1%;
  font-weight: 400;
  width: 492px;
  height: 72px;
  padding-bottom: 20px;
}

.hero-item button {
  background-color: #3f8e00;
  width: 307.89px;
  height: 63px;
  border: #62ba1b;
  border-radius: 4px;
  padding: 21px 64px 21px 64px;
  cursor: pointer;
}

.hero-item button:hover {
  background-color: #285a00;
}
.hero-item button span {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
}

.portrait img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: brightness(85%);
}
.work {
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: #ffffff;
  font-weight: 400;
  padding-left: 18%;
}

.client {
  text-align: center;
}

/* Recent Work */
.work-container {
  position: relative;
}

.work-item h1 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 34px;
  text-align: center;
  color: #080808;
  margin-top: 3%;
}

.work-item p {
  width: 570px;
  font-size: 14px;
  letter-spacing: 1%;
  line-height: 24px;
  font-family: "IBM Plex Mono";
  text-align: center;
  margin: auto;
  padding-bottom: 2%;
}

.flex-container {
  display: flex;
  gap: 40px;
  width: 70%;
  margin: auto;
  overflow: hidden; /* hide slides outside viewport */
  transition: transform 0.5s ease; /* smooth horizontal slide */
}
.flex-container h2 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #080808;
  padding-top: 5px;
  padding-bottom: 5px;
}
.flex-container p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
}

.work-1,
.work-2 {
  width: 50%; /* each slide takes half of the wrapper */
  flex-shrink: 0;
  padding: 20px; /* optional spacing */
  box-sizing: border-box;
}

.work-1 img {
  display: block;
  width: 506px;
  height: 336px;
  margin: auto;
}

.work-1 button {
  background-color: #3f8e00;
  width: 139.89px;
  height: 38px;
  border: #62ba1b;
  border-radius: 4px;
  border: 1px;
  border-color: #62ba1b;
  cursor: pointer;
}

.work-1 button span {
  font-weight: 700;
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: #ffffff;
  text-align: center;
}

.work-2 img {
  display: block;
  width: 506px;
  height: 336px;
  margin: auto;
  border-radius: 5px;
}

.work-2 button {
  background-color: #3f8e00;
  width: 139.89px;
  height: 38px;
  border: #62ba1b;
  border-radius: 4px;
  border: 1px;
  border-color: #62ba1b;
  cursor: pointer;
}

.work-2 button span {
  font-weight: 700;
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: #ffffff;
  text-align: center;
}

/* Carousel */
.buttons button {
  height: 40px;
  width: 39.89px;
  border-radius: 50%;
  border-color: #9c9c9c;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ffffff;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 5%;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 5%;
}

.smooth-transition-changing {
  opacity: 0;
  transform: translateX(-20px);
}
/* testimonial */

.testimonial-container {
  background-color: #080808;
  margin: 0;
  padding-top: 1px;
  height: 100vh;
}

.testimonial-container h1 {
  font-family: "Raleway";
  color: #ffffff;
  text-align: center;
  font-weight: 800;
  font-size: 34px;
}

.heading-item p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 50%;
  margin: auto;
  text-align: center;
}
.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 5%;
  row-gap: 3%;
  column-gap: 0;
  width: 70%;
  margin: auto;
  padding-top: 5%;
}

.testimonial-item {
  background-image: url("./assets/rectangleImg.png");
  background-repeat: no-repeat;
  margin-left: 50px;
  width: 80%;
  margin: auto;
}

.heading-item-one p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 50%;
}
.testimonial-item p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 100%;
  height: 11vh;
  text-align: left;
  letter-spacing: 1%;
  padding-left: 30px;
}

.client-flex {
  display: flex;
  gap: 30px;
}
.client-flex img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.client-flex p {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding-left: 0;
}
