.hero {
  background-color: #080808;
  height: 100vh;
}

.navigation {
  background-color: #1b1b1b;
  width: 1110px;
  margin: auto;
  height: 70px;
  display: flex;
  gap: 70px;
  justify-content: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.navigation a {
  text-decoration: none;
  font-family: "IBM Plex Mono", "San-Seriff";
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;
  align-self: center;
}

.navigation img {
  width: 107.54px;
  height: 17px;
  align-self: center;
}

.hero-flex-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-item h1 {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 44px;
}

.hero-item p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #9c9c9c;
  line-height: 24px;
  letter-spacing: 1%;
  font-weight: 400;
  width: 492px;
  height: 72px;
  padding-bottom: 20px;
}

.hero-item button {
  background-color: #3f8e00;
  width: 307.89px;
  height: 63px;
  border: #62ba1b;
  border-radius: 4px;
  padding: 21px 64px 21px 64px;
  cursor: pointer;
}

.hero-item button:hover {
  background-color: #285a00;
}
.hero-item button span {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
}

.portrait img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: brightness(85%);
}
.work {
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: #ffffff;
  font-weight: 400;
  padding-left: 18%;
}

.client {
  text-align: center;
}

/* Recent Work */
.work-container {
  position: relative;
}

.work-item h1 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 34px;
  text-align: center;
  color: #080808;
  margin-top: 3%;
}

.work-item p {
  width: 570px;
  font-size: 14px;
  letter-spacing: 1%;
  line-height: 24px;
  font-family: "IBM Plex Mono";
  text-align: center;
  margin: auto;
  padding-bottom: 2%;
}

.flex-container {
  display: flex;
  gap: 40px;
  width: 70%;
  margin: auto;
  overflow: hidden; /* hide slides outside viewport */
  transition: transform 0.5s ease; /* smooth horizontal slide */
}
.flex-container h2 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #080808;
  padding-top: 5px;
  padding-bottom: 5px;
}
.flex-container p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
}

.work-1,
.work-2 {
  width: 50%; /* each slide takes half of the wrapper */
  flex-shrink: 0;
  padding: 20px; /* optional spacing */
  box-sizing: border-box;
}

.work-1 img {
  display: block;
  width: 506px;
  height: 336px;
  margin: auto;
}

.work-1 button {
  background-color: #3f8e00;
  width: 139.89px;
  height: 38px;
  border: #62ba1b;
  border-radius: 4px;
  border: 1px;
  border-color: #62ba1b;
  cursor: pointer;
}

.work-1 button span {
  font-weight: 700;
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: #ffffff;
  text-align: center;
}

.work-2 img {
  display: block;
  width: 506px;
  height: 336px;
  margin: auto;
  border-radius: 5px;
}

.work-2 button {
  background-color: #3f8e00;
  width: 139.89px;
  height: 38px;
  border: #62ba1b;
  border-radius: 4px;
  border: 1px;
  border-color: #62ba1b;
  cursor: pointer;
}

.work-2 button span {
  font-weight: 700;
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: #ffffff;
  text-align: center;
}

.return-home-recent button img {
  width: 15px;
  position: absolute;
  top: 2%;
  left: 5%;
  cursor: pointer;
}

/* Carousel */
.buttons button {
  height: 40px;
  width: 39.89px;
  border-radius: 50%;
  border-color: #9c9c9c;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ffffff;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 5%;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 5%;
}

.smooth-transition-changing {
  opacity: 0;
  transform: translateX(-20px);
}
/* testimonial */

.testimonial-container {
  background-color: #080808;
  margin: 0;
  padding-top: 1px;
  height: 100vh;
}

.testimonial-container h1 {
  font-family: "Raleway";
  color: #ffffff;
  text-align: center;
  font-weight: 800;
  font-size: 34px;
}

.heading-item p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 50%;
  margin: auto;
  text-align: center;
}
.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 5%;
  row-gap: 3%;
  column-gap: 0;
  width: 70%;
  margin: auto;
  padding-top: 5%;
}

.testimonial-item {
  background-image: url("./assets/rectangleImg.png");
  background-repeat: no-repeat;
  margin-left: 50px;
  width: 80%;
  margin: auto;
}

.heading-item-one p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 50%;
}
.testimonial-item p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 100%;
  height: 11vh;
  text-align: left;
  letter-spacing: 1%;
  padding-left: 30px;
}

.client-flex {
  display: flex;
  gap: 30px;
}
.client-flex img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.client-flex p {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding-left: 0;
}

.testimonial-container button {
  height: 40px;
  width: 39.89px;
  border-radius: 50%;
  border-color: #9c9c9c;
  cursor: pointer;
  background-color: #080808;
  position: absolute;
  top: 10%;
  left: 5%;
}
/* Get in Touuch */
.form-container {
  background-color: #080808;
  padding: 1px;
  height: 100vh;
}

.form-container h1 {
  font-size: 34px;
  font-family: "Raleway";
  color: #ffffff;
  text-align: center;
  font-weight: 800;
  margin-top: 7%;
}
.form-container p {
  color: #757575;
  margin: auto;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1%;
  width: 40%;
  padding-bottom: 20px;
}

.form-container label {
  display: block;
  color: #ffffff;
  text-align: left;
  line-height: 100%;
  font-size: 12px;
  font-family: "IBM Plex Mono";
  font-weight: 600;
  width: 326px;
  margin: auto;
  padding-top: 30px;
}

.form-container input {
  display: block;
  margin: auto;
  border: 1px;
  width: 326px;
  height: 36px;
  margin-top: 0.5%;
}

.message input {
  height: 120px;
  margin-bottom: 30px;
}

.submit-button button {
  width: 350px;
  height: 50px;
  border: 1px;
  border-color: #62ba1b;
  background-color: #3f8e00;
  border-radius: 4px;
  display: block;
  margin: auto;
}

.submit-button button span {
  color: #ffffff;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
}
.return-button button {
  height: 40px;
  width: 39.89px;
  border-radius: 50%;
  border-color: #9c9c9c;
  cursor: pointer;
  background-color: #080808;
  position: absolute;
  top: 10%;
  left: 5%;
}

/* Case Study */
.case-container h1 {
  font-family: "Raleway";
  font-size: 34px;
  color: #080808;
  font-weight: 800;
  text-align: center;
}

.case-container .header-item p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  margin: auto;
  width: 50%;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.grid-item-one {
  margin: auto;
}
.grid-item-two {
  margin: auto;
}
.grid-item-three {
  margin: auto;
}

.grid-container h2 {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 800;
  color: #080808;
}
.grid-container p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;
  width: 80%;
}

.grid-container span {
  font-family: "IBM Plex Mono";
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
  font-weight: 700;
  border-radius: 60px;
}

.grid-item-one span {
  background-color: #fff6e9;
  color: #ffa217;
}
.grid-item-two span {
  background-color: #d0e6ff;
  color: #000aff;
}
.grid-item-three span {
  background-color: #e0fff8;
  color: #2ab090;
}

.grid-container button {
  width: 189.89px;
  height: 38px;
  border-radius: 4px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: "IBM Plex Mono";
}

.grid-item-one button {
  background-color: #fea216;
}
.grid-item-two button {
  background-color: #000aff;
}

.grid-item-three button {
  background-color: #2ab090;
}
