.hero {
  background-color: #080808;
  height: 100vh;
}

.navigation {
  background-color: #1b1b1b;
  width: 1110px;
  margin: auto;
  height: 70px;
  display: flex;
  gap: 70px;
  justify-content: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mobile-navigation {
  display: none;
}

.navigation a {
  text-decoration: none;
  font-family: "IBM Plex Mono", "San-Seriff";
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;
  align-self: center;
}

.navigation img {
  width: 107.54px;
  height: 17px;
  align-self: center;
}

.hero-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 9%;
}

.hero-item h1 {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 44px;
}

.hero-item p {
  font-family: "IBM Plex Mono";
  font-size: 14px;
  color: #9c9c9c;
  line-height: 24px;
  letter-spacing: 1%;
  font-weight: 400;
  width: 492px;
  height: 72px;
  padding-bottom: 20px;
}

.hero-item button {
  background-color: #3f8e00;
  width: 307.89px;
  height: 63px;
  border: #62ba1b;
  border-radius: 4px;
  padding: 21px 64px 21px 64px;
  cursor: pointer;
}

.hero-item button:hover {
  background-color: #285a00;
}

.hero-item button span {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
}

.portrait img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: brightness(85%);
}
.work {
  font-size: 14px;
  font-family: "IBM Plex Mono";
  color: #ffffff;
  font-weight: 400;
  padding-left: 18%;
}

.client {
  text-align: center;
}

.marquee {
  margin-top: 4%;
}
.marquee img {
  margin-right: 40px;
  filter: grayscale(100%);
}

.marquee-item {
  padding-left: 50px;
}
.marquee p {
  color: white;
  font-family: "IBM Plex Mono";
}
/* Media Query */
@media (max-width: 576px) {
  .mobile-navigation {
    display: block;
  }
  .hero-item {
    margin-left: 5%;
  }
  .portrait img {
    display: none;
  }
  .hero-item {
    text-align: center;
    padding-top: 20%;
  }
  .hero-item p {
    width: 100%;
  }
  .client img {
    width: 100%;
  }
  .work {
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
  }
  .marquee {
    margin-top: 20%;
  }
}

@media (min-width: 577px) and (max-width: 911px) {
  .navigation {
    display: none;
  }

  .portrait img {
    display: none;
  }
  .hero-item {
    margin-left: 5%;
  }

  .mobile-navigation {
    display: block;
  }
  .client img {
    width: 100%;
  }
  .hero-item {
    text-align: center;
  }

  .hero-item button {
    align-items: center;
  }
  .work {
    text-align: center;
    padding: 0;
    padding-bottom: 20px;
  }
  .social-container img {
    filter: invert(75%);
  }
  .hamburger-container {
    filter: invert(25%);
  }
}

@media (min-width: 912px) and (max-width: 1200px) {
  .portrait img {
    width: 300px;
    height: 300px;
  }

  .hero-item {
    text-align: center;
  }
  .hero-item h1 {
    font-size: 32px;
  }
  .hero-item p {
    font-size: 12px;
  }
  .navigation {
    width: 75%;
    height: 55px;
    gap: 40px;
  }

  .navigation a {
    font-size: 12px;
  }
}
