.testimonial-container {
  background-color: #080808;
  margin: 0;
  padding-top: 1px;
  height: 100vh;
}

.testimonial-container h1 {
  font-family: "Raleway";
  color: #ffffff;
  text-align: center;
  font-weight: 800;
  font-size: 34px;
}

.testimonial-container .quote {
  padding-left: 5%;
  height: auto;
}

.heading-item p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 50%;
  margin: auto;
  text-align: center;
}
.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* margin-top: 5%; */
  row-gap: 30%;
  column-gap: 3%;
  width: 70%;
  margin: auto;
  /* padding-top: 5%; */
}

.testimonial-item {
  background-image: url("./assets/rectangleImg.png");
  background-repeat: no-repeat;
  margin-left: 50px;
  width: 80%;
  margin: auto;
}

.heading-item-one p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 50%;
}
.testimonial-item p {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9c9c9c;
  width: 100%;
  height: 11vh;
  text-align: left;
  letter-spacing: 1%;
  padding-left: 30px;
}

.client-flex {
  display: flex;
  gap: 30px;
}
.client-flex img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

.client-flex p {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding-left: 0;
  height: auto;
}
.work-tittle {
  color: #ffffff;
  font-size: 8px;
  padding-left: 28%;
  padding-top: -10%;
  margin-top: -5%;
  color: #9c9c9c;
}

.testimonial-container button {
  height: 40px;
  width: 39.89px;
  border-radius: 50%;
  border-color: #9c9c9c;
  cursor: pointer;
  background-color: #080808;
  position: absolute;
  top: 10%;
  left: 5%;
}

@media (max-width: 599px) {
  .testimonial {
    display: block;
  }
  .testimonial-item {
    margin-bottom: 10%;
  }
  .testimonial-item p {
    font-size: 10px;
    margin-top: 0;
  }
  .testimonial-container h1 {
    font-weight: 700;
    font-size: 24px;
  }
  .client-flex img {
    width: 30px;
    height: 30px;
  }
  .client-flex p {
    font-size: 12px;
    margin-top: 0;
  }
  .client-flex {
    margin-top: -15px;
  }
}
